/* Generale */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Calendario */
#calendar-container {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 650px; /* Altezza fissa */
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#calendar h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 20px;
}

.day {
    padding: 15px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

.highlighted {
    background-color: #ffdd57;
}

.selected {
    border: 3px solid #333;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

#expand-button, #collapse-button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#expand-button:hover, #collapse-button:hover {
    background-color: #555;
}

/* Riquadro eventi */
#event-box {
    margin-top: 20px;
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 5px;
    display: none;
    height: 150px; /* Altezza iniziale fissa */
    overflow: hidden;
    position: relative; /* Posiziona i tasti in basso a destra */
}

#event-content {
    max-height: 130px; /* Limita l'altezza del contenuto iniziale */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 1280px) {
    #calendar-container {
        padding: 10px;
    }

    #calendar {
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
    }

    #calendar .day {
        font-size: 12px;
        padding: 10px;
    }

    #calendar-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .prev-next {
        font-size: 14px;
        padding: 5px 10px;
    }
}
